@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
$randomn: random(100);

@keyframes bgLogoAnimator{
	0%{
		fill: transparent;
		stroke-dasharray: 0 100;
	}
	80%{
		stroke-dasharray: 100 0;
		fill: transparent;
		stroke: #eee;
	}
	100%{
		stroke: #e0e0e010;
		fill: #e0e0e010;
	}
}
@keyframes buttonSp{
	0%{
	}
	100%{
	}
}
@keyframes separatorAnime{
	0%{
	}
	100%{
		width: 60%;
	}
}
@keyframes titleShadow{
	0%{
		box-shadow: -10px 10px 0 0 #ccc;
	}
	100%{
		box-shadow: -20px 20px 0 0 #ccc;
	}
}
@keyframes buttonFlicker{
	0%{
		box-shadow: 0px 0px 30px #eee;
	}
	100%{
		box-shadow: none;
	}
}
@keyframes flicker{
	0%{
		color: white;
	}
	100%{
		color: black;
		background-color: #eee;
	}
}
@keyframes bottomMarkerBeat{
	0%{
		margin-bottom: 2em;
	}
	100%{
		margin-bottom: 0;
	}
}

body{
	background-color: #222;
	color: #eee;
	overflow-x: hidden;
	font-family: "Playfair Display"; 
	font-family: "Share Tech Mono";
	margin: 0;
}

.pageSeparater{
	margin: 0 auto;
	//border-bottom:1px solid #eee;
	background-color: #eee;
	width: 40%;
	height: 2px;
}
.pageSeparater:hover{
	animation: separatorAnime 0.5s ease forwards;
}
.btnWrapper{
	position: fixed;
	margin: 0;
	padding-left: 1em;
	width: 100%;
	background-color: #222;
	z-index: 2;
}

.btn{
	display: inline-block;
	cursor: pointer;
	color: #eee;
	padding-top: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.btn:hover{
	animation: flicker 0.5s forwards;
}

section{
	position: relative;
	height: 100%;
	position: relative;
	padding-top: 5%;
}

.introduceArticle{
	position: absolute;
	top:50%;
	left: 0;
	right: 0;
	margin: 2em;
	margin-top: -2em;
//	border: 1px solid white;
	text-align: center;
	font-size: 1.1em;
	line-height: 2em;
	padding: 1em;
}

.titleWrapper{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.titleLogo{
	position: absolute;
	font-family: "Playfair Display";
	top: 0;
	left: auto;
	right: -0.2em;
	top: 50%;
	line-height:1em;
	margin-top: -0.5em;
	font-size: 50em;
	opacity: 0.1;
}
.titleBody{
	position: absolute;
	font-family: "Share Tech Mono";
	font-size: 2em;
	text-align: left;
	margin-left: 5%;
	margin-top: -1em;
	padding-left: 0.5em;
	top: 50%;
}
#logoSvg{
	position: absolute;
	stroke: #eee;
	stroke-width: .01;
	fill: transparent;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	height: 50%;
	animation: bgLogoAnimator 8s ease-out 0s forwards;
	z-index: -1;
}
.watermark{
	position: absolute;
	margin: 4.5em 10%;
	width: 80%;
	color: red;
	padding: 15px;
	font-family: "Russo One";
	border: 1px solid red;
	border-radius: 3px;
	text-align: center;
	animation: secretFlicker 0.2s normal infinite;
}
.bottomMarkerWrapper{
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	animation: bottomMarkerBeat 1s normal infinite;
}
.bottomMarker{
	height: 2em;
}

.productList{
	margin-top: 15%;
	margin-left: 2em;
	text-align: center;
}

.productButton{
	position: relative;
	width: 20em;
	height: 20em;
	margin: 2em;
	border: 2px solid #eee;
	z-index: 2;
	box-shadow: -10px 10px 0 0 #ccc;
	float: left;
}
.productButton:hover{
	animation: buttonSp 1s normal forwards;
}
.productLabel{
	color: #eee;
	position: absolute;
	font-size: 2em;
	right: 0;
	bottom: 0;
	margin: 1em;
}

.sectionTitle{
	position: absolute;
	padding: 0.5em;
	padding-left: 2em;
	box-shadow: -10px 10px 0 0 #ccc;
	color: #222;
	background-color: #eee;
	z-index: 5;
}
.sectionTitle:hover{
	animation: titleShadow 0.2s ease forwards;
}
.CCLogo{
	position: relative;
	margin-top: -44px;
	left: 50%;
	margin-left: -44px;
}
